@use '../abstracts' as abs;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  background-color: abs.$black;
  color: abs.$white;
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: inline-block;
  color: abs.$white;
}

img {
  width: 100%;
}
